html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 400;
}

.title {
  font-weight: 400;
}

.description {
  font-weight: 400;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.memberSpotlight {
  background-color: #154875;
}

.memberSpotlightPhotoCard img {
  height: 300px;
  width: 400px;
}

.info-title {
  font-weight: 400;
}

.questionBox {
  font-weight: 400;
}

.copyright {
  font-weight: 400;
}
